.row {
    display: flex;
    justify-content: space-between;
    
}
.col {
    width: 40%;
    padding: 20px;
    margin: 10px;
    background-color: rgb(4, 102, 102);
}
.col_2 {
    width: 60%;
    padding: 20px;
    margin: 10px;
    background-color: rgb(4, 102, 102);
}